// C O L O R S

// admin-portal-DESIGN
$white: #ffffff;
$medium_items_gray: #787486;
$font_light_gray: #ACACAC;
$input_light_gray: #F5F3F5;
$dark_yellow: #FFD100;
$notification_red: #FF3434;
$dark_select: #0D062D;
$black: #000000; 

//Borders
$strenghts-border: #EBEBEB;
$action-border: #B7B7B7;
$question-border: #25a8db;
$social-border: #fcff5e;
$physical-border: #61ff83;
$mental-border: #25b3b8;
$emotional-border: #bf376c;

//front-end colors
$green-primary: #53BD8B;
$green-light: #58D298;
$green-pastel: #61E7A8;
$white: #ffffff;
$pink: #FF00A7;
$gold: #FED100;
$azure-blue: #40C2CD;
$blue-primary: #005776;
$blue-light: #1B6A8B;
$dark-blue: #002D3C;
$gray: #474A4E;
$purple: #91298D;
$senders_message_color: #40C2CD;

//Main colors
$gray: #d8d8cf;
$light-gray: #bfbfbf;
$pink: 	#FF10F0;

//Breakpoints

$bp-mobile-small: 300px;
$bp-mobile-large: 500px;
$bp-tablet-portrait: 600px;
$bp-tablet-landscape: 768px;
$bp-desktop: 1024px;
$bp-desktop-m: 1300px;
$bp-desktop-l: 1440px;
$bp-desktop-xl: 1600px;

$bp-custom: 1180px;

//Typography
$fredokaOne: "Fredoka One", sans-serif;
$curbRegular: "Krub Regular", sans-serif;
$roboto: "Roboto", sans-serif;